
{
  "extends": "airbnb",
  "rules" : {
    "react/destructuring-assignment": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "quote-props": [1, "consistent-as-needed"],
    "react/prop-types": [2, { "skipUndeclared": true }],
    "react/forbid-prop-types" : [0]
  }
}