$primary-color:         #2196F3;
$primary-color-light:   #BBDEFB;
$primary-color-dark:    #1976d2;

$accent-color:          #FFEB3B;
$text-color:            #212121;
$text-color-light:      #fff;

$gray-medium:           #757575;
$gray-light:            #BDBDBD;