html {
  line-height: 1; }

ul {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  color: #212121; }

.navbar.navbar-main {
  background: #2196F3;
  color: #fff;
  height: 50px; }

.navbar .nav-right {
  float: right; }

.navbar li a {
  display: inline-block;
  padding: 17px 16px;
  color: #fff;
  text-decoration: none; }
  .navbar li a:hover, .navbar li a:focus, .navbar li a.active {
    background: #1976d2; }

.navbar .logo {
  font-weight: bold; }

.nav-left,
.nav-right {
  display: inline-block;
  list-style: none; }
  .nav-left li,
  .nav-right li {
    float: left; }
